@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@400;500;600;700&display=swap");
@import url(../css/reset.css);
body {
  font-family: "Catamaran", sans-serif;
  color: #FFFFFF;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.page {
  flex: 1 1 auto;
}

[class*=__container] {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-size: 35px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.14;
  color: #00466F;
  margin-bottom: 30px;
}

.btn {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
  text-align: center;
  border-radius: 5px;
  background-color: #FF7800;
  color: #FFFFFF;
  padding: 15px 30px;
  text-transform: uppercase;
  transition: all 0.3s;
}
.btn:hover, .btn:focus-within, .btn:active {
  background-color: #ff9333;
}

.form {
  background-color: #00466F;
  padding: 20px;
  border-radius: 6px;
}
.form__content {
  display: flex;
  margin-bottom: 15px;
  gap: 10px;
}
.form__input {
  font-size: 14px;
  color: #737B80;
  line-height: 1.42;
  padding: 15px;
  border-radius: 5px;
  width: 34%;
}
.form__select {
  font-family: "Catamaran", sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(images/icons/header-icons/form-dropdown-arrow.svg);
  background-position: 95% 50%;
  background-size: 12px 7px;
  background-repeat: no-repeat;
}
.form__button {
  font-size: 16px;
  width: 32%;
  line-height: 1.25;
}
.form__disclaimer {
  font-size: 12px;
  opacity: 0.5;
}

.raitings-items {
  display: flex;
  justify-content: space-evenly;
}
.raitings-items__item {
  display: flex;
  align-items: center;
  gap: 10px;
}
.raitings-items__site-name {
  display: block;
  font-size: 14px;
  line-height: 1.42;
  color: #1799E5;
}
.raitings-items__value {
  font-size: 45px;
  line-height: 1.22;
  color: #00466F;
}

.header {
  min-height: 70px;
  background-color: #00466F;
}
.header__content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 0;
}
.header__logo {
  margin-right: auto;
}
.header__menu {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.menu__items {
  display: flex;
  gap: 20px;
  margin-right: 75px;
  line-height: 1.07;
}
.menu__item {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
}
.menu__item:hover, .menu__item:focus-within, .menu__item:active {
  color: #FDC420;
}
.menu__item svg {
  margin-left: 5px;
  transition: all 0.3s;
}
.menu__item:hover svg, .menu__item:focus-within svg, .menu__item:active svg {
  fill: #FDC420;
  rotate: 180deg;
}
.menu__item--service-dropdown {
  position: relative;
}
.menu__item--service-dropdown:hover .service-dropdown {
  display: block;
}
.menu__item--tools-dropdown {
  position: relative;
}
.menu__item--tools-dropdown:hover .tools-dropdown {
  display: block;
}
.menu__item--about-us-dropdown {
  position: relative;
}
.menu__item--about-us-dropdown:hover .about-us-dropdown {
  display: block;
}
.menu__dropdown {
  display: none;
  background-color: #fff;
  color: #00466F;
  font-size: 14px;
  min-width: 170px;
  padding: 10px;
  border-radius: 3px;
}
.menu__dropdown li:not(:last-child) {
  margin-bottom: 10px;
}
.menu__dropdown::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 44%;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #FFFFFF;
}
.menu__btns {
  display: flex;
  line-height: 1.43;
}
.menu__login-btn {
  display: flex;
  align-items: center;
  font-weight: 700;
  text-transform: uppercase;
  color: #FDC420;
  margin-right: 30px;
  transition: all 0.3s;
}
.menu__login-btn:hover, .menu__login-btn:focus-within, .menu__login-btn:active {
  color: #FF7800;
}
.menu__login-btn svg {
  margin-right: 5px;
  transition: all 0.3s;
}
.menu__login-btn:hover svg, .menu__login-btn:focus-within svg, .menu__login-btn:active svg {
  fill: #FF7800;
}
.menu__order-btn {
  font-size: 14px;
  line-height: 1.42;
}

.block-lowres {
  display: none;
}

.service-dropdown {
  position: absolute;
  top: 35px;
  left: -100%;
}

.tools-dropdown {
  position: absolute;
  top: 35px;
  left: -50%;
}

.about-us-dropdown {
  position: absolute;
  top: 35px;
  left: -50%;
}

.intro {
  background: linear-gradient(270deg, #298DCC 0%, #004F80 100%);
  padding: 60px 0 130px;
}
.intro__content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 25px;
}
.intro__header {
  font-size: 45px;
  line-height: 1.22;
  margin-bottom: 5px;
}
.intro__header--yellow {
  color: #FDC420;
}
.intro__left-block {
  grid-row: 2/3;
}
.intro__right-block {
  grid-row: 1/3;
}

.site-nav {
  background-color: #E6F2FF;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.07;
  color: #00466F;
  padding: 15px 0 10px;
}

.nav__items {
  display: flex;
  justify-content: space-around;
}
.nav__item {
  position: relative;
}
.nav__item:hover, .nav__item:focus-within, .nav__item:active {
  color: #1799E5;
}
.nav__item:hover::after, .nav__item:focus-within::after, .nav__item:active::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 53px;
  left: -50%;
  height: 3px;
  width: 200%;
  background-color: #1799E5;
}
.nav__item:hover svg path, .nav__item:focus-within svg path, .nav__item:active svg path {
  fill: #1799E5;
}
.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.nav__img--mrb5 {
  margin-bottom: 4px;
}

.site-ratings {
  padding: 20px 0;
  margin-bottom: 60px;
}

.choose-writer {
  margin-bottom: 60px;
}
.choose-writer__cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 30px;
}

.card {
  font-size: 14px;
  line-height: 1.42;
  color: #222526;
  max-width: 323.33px;
  box-shadow: 0px 2px 15px rgba(0, 70, 111, 0.15);
  border-radius: 7px;
}
.card__content {
  padding: 20px;
}
.card__header {
  display: flex;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #DFE6EB;
}
.card__pic {
  margin-right: 15px;
  width: 80px;
  height: 80px;
}
.card__writer-name {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.25;
  color: #00466F;
  transition: all 0.3s;
}
.card__writer-name:hover, .card__writer-name:focus-within, .card__writer-name:active {
  color: #1799E5;
}
.card__writer-starts {
  height: 15px;
  width: 87px;
  margin-right: 5px;
  vertical-align: middle;
}
.card__writer-raiting {
  font-size: 12px;
  line-height: 1.25;
  color: #00466F;
}
.card__total-reviews {
  font-size: 12px;
  line-height: 1.25;
  color: #737B80;
}
.card__topic {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.56;
  color: #00466F;
  text-align: center;
  margin-bottom: 15px;
  min-height: 50px;
}
.card__link {
  width: 100%;
}

.details {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}
.details__item {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
}
.details__item--w45 {
  width: 45%;
}
.details__item span {
  font-size: 12px;
  line-height: 1.25;
  color: #737B80;
}
.details__sample {
  position: relative;
}
.details__sample::after {
  content: "Read sample";
  color: #1799E5;
  text-decoration: underline;
  position: absolute;
  top: 85%;
  left: 20%;
  transition: all 0.3s;
}
.details__sample:hover::after {
  text-decoration: none;
}

.selected-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.selected-cards__item {
  border: 1px solid #1799E5;
  border-radius: 50%;
  height: 11px;
  width: 11px;
}
.selected-cards__item--active {
  border-radius: 50%;
  height: 15px;
  width: 15px;
  background-color: #1799E5;
}

.what-say {
  padding: 60px 0;
  background-color: #F2F9FF;
}
.what-say__container {
  display: grid;
}
.what-say__raitings {
  margin-bottom: 30px;
}
.what-say__link {
  place-self: center;
}

.review {
  position: relative;
  display: flex;
  gap: 20px;
  margin: 0 auto 30px;
  padding: 40px;
  max-width: 800px;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 15px rgba(0, 70, 111, 0.15);
  border-radius: 7px;
}
.review::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 8%;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid #FFFFFF;
}
.review__customer-info {
  max-width: 80px;
}
.review__customer-avatar {
  margin-bottom: 5px;
}
.review__customer-id {
  font-size: 14px;
  line-height: 1.07;
  color: #00466F;
  text-align: center;
  margin-bottom: 5px;
}
.review__date {
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  color: #ACB8BF;
}
.review__content {
  display: flex;
  flex-direction: column;
}
.review__source {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.review__rating {
  display: flex;
  gap: 15px;
  height: 20px;
}
.review__verified-icon {
  vertical-align: middle;
}
.review__verified-text {
  font-size: 14px;
  line-height: 1.42;
  color: #61AC42;
}
.review__text {
  font-size: 16px;
  line-height: 1.56;
  color: #222526;
}

.how-to-place {
  padding: 60px 0;
}
.how-to-place__container {
  display: grid;
  place-items: center;
}
.how-to-place__steps {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}

.step {
  color: #00466F;
  text-align: center;
}
.step__img {
  margin-bottom: 15px;
}
.step__title {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 15px;
}
.step__desc {
  line-height: 1.56;
}

.payments {
  background: linear-gradient(270deg, #298DCC 0%, #004F80 100%);
  padding: 60px 0;
}
.payments__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.payments__header {
  font-size: 35px;
  line-height: 1.14;
  margin-bottom: 10px;
}
.payments__text {
  line-height: 1.56;
  margin-bottom: 30px;
}

.why-choose {
  padding: 60px 0;
  background-color: #F2F9FF;
}
.why-choose__reasons {
  display: flex;
  gap: 60px;
}
.why-choose__reason {
  max-width: 247.5px;
}
.why-choose__subheader {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.why-choose__img {
  margin-right: 15px;
}
.why-choose__subtitle {
  color: #00466F;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.25;
}
.why-choose__desc {
  color: #222526;
  line-height: 1.56;
}

.test-service {
  padding: 60px 0;
  color: #00466F;
}
.test-service__content {
  display: flex;
}
.test-service__left-block {
  max-width: 670px;
  margin-right: auto;
}
.test-service__title {
  font-size: 35px;
  line-height: 1.14;
  text-align: left;
  margin-bottom: 20px;
}
.test-service__span {
  color: #1799E5;
}
.test-service__text {
  font-size: 16px;
  line-height: 1.56;
  margin-bottom: 20px;
}
.test-service__img {
  max-width: 100%;
}

.complete-any {
  padding: 60px 0;
  background: linear-gradient(270deg, #298DCC 0%, #004F80 100%);
  color: #FFFFFF;
}
.complete-any__container {
  display: grid;
}
.complete-any__header {
  color: #FFFFFF;
}
.complete-any__block {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}
.complete-any__link {
  place-self: center;
}

.list__item:not(:last-child) {
  margin-bottom: 10px;
}
.list__item::before {
  content: "•";
  color: #FDC420;
  display: inline-block;
  margin-right: 11px;
}

.activity {
  padding: 60px 0;
  background-color: #F2F9FF;
}
.activity__header {
  margin-bottom: 60px;
}
.activity__block {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.activity__value {
  font-size: 45px;
  line-height: 1.22;
  text-align: center;
  color: #00466F;
  margin-bottom: 10px;
}
.activity__name {
  font-size: 20px;
  line-height: 1.25;
  color: #1B99E5;
  text-align: center;
}
.activity__value--fs {
  font-size: 120px;
  line-height: 0.83;
  margin-bottom: 15px;
}
.activity__name--fs {
  font-size: 45px;
  line-height: 1.22;
}
.activity__right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.about {
  padding: 60px 0;
}
.about__container {
  display: grid;
  place-items: center;
}
.about__header {
  margin-bottom: 15px;
}
.about__text {
  line-height: 1.56;
  text-align: center;
  color: #222526;
  margin-bottom: 15px;
}
.about__link {
  background-color: #1799E5;
}
.about__link:hover, .about__link:focus-within, .about__link:active {
  background-color: #00466F;
}

.faq {
  padding: 60px 0;
}
.faq__block {
  max-width: 970px;
  margin: 0 auto;
}

.expand {
  background-color: #F2F9FF;
  border: 1px solid #4DA6FF;
  border-radius: 7px;
  margin-bottom: 5px;
}
.expand__summary {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.25;
  color: #00466F;
  padding: 20px;
  cursor: pointer;
  list-style: none;
}
.expand__summary::after {
  content: url(images/faq-arrow.svg);
  display: inline-block;
  margin-left: 10px;
}
.expand__text {
  color: #222526;
  line-height: 1.56;
  padding: 0 50px 20px 20px;
}

.expand[open] summary {
  margin-bottom: 10px;
  padding-bottom: 0;
}
.expand[open] summary:after {
  rotate: 180deg;
}

.why-wait {
  padding: 60px 0;
  background: linear-gradient(270deg, #298DCC 0%, #004F80 100%);
}
.why-wait__content {
  display: flex;
}
.why-wait__left-block {
  position: relative;
}
.why-wait__img {
  position: absolute;
}
.why-wait__right-block {
  max-width: 720px;
  margin-left: auto;
}
.why-wait__header {
  font-size: 45px;
  line-height: 1.22;
  margin-bottom: 20px;
}
.why-wait__header--yellow {
  color: #FDC420;
}
.why-wait__text {
  font-size: 20px;
  line-height: 1.25;
  margin-bottom: 30px;
}

.footer {
  padding: 40px 0 20px;
  background-color: #00466F;
  position: relative;
}
.footer__img {
  max-width: 100%;
  position: absolute;
  z-index: 99;
  top: -44%;
}
.footer__block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border-bottom: 1px solid #4E7288;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.block-middle {
  display: block;
}
.block-middle__block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.block-bottom {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}
.block-bottom__block--maxwidth565 {
  max-width: 565px;
  grid-column: 1/3;
}

.title-footer {
  font-size: 20px;
  line-height: 1.25;
}
.title-footer--mrb15 {
  margin-bottom: 15px;
}

.block__title {
  margin-bottom: 15px;
}
.block__btn {
  display: block;
  padding: 5px 5px 2px;
  background-color: #fff;
  margin-bottom: 45px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.block__span {
  display: block;
  font-size: 10px;
  color: #222526;
}
.block__text {
  font-size: 12px;
  line-height: 1.25;
  color: #ACB8BF;
}
.block__text--mrb10 {
  margin-bottom: 10px;
}

.link-top__img {
  margin-right: 15px;
}

.accept {
  max-width: 167px;
  flex-wrap: wrap;
  gap: 15px;
  display: flex;
}

.socials__img {
  margin-right: 5px;
  width: 40px;
  height: 40px;
}
.socials__img:hover, .socials__img:focus-within, .socials__img:active {
  scale: 1.2;
}

.list-middle__item {
  font-size: 14px;
  line-height: 1.42;
  color: #BFDFFF;
}
.list-middle__item:not(:last-child) {
  margin-bottom: 10px;
}

.list-bottom__item {
  font-size: 14px;
  line-height: 1.42;
  color: #BFDFFF;
  margin-bottom: 10px;
}
.list-bottom__item:last-child {
  margin-bottom: 0;
}

@media (max-width: 1195.98px) {
  [class*=__container] {
    max-width: 990px;
    margin: 0 auto;
    padding: 0 10px;
  }
  .intro {
    padding-bottom: 20px;
  }
  .intro__form form {
    flex-direction: column;
  }
  .intro__form form > * {
    width: 100%;
  }
  .intro__header {
    max-width: 100%;
    grid-column: 1/3;
  }
  .intro__left-block {
    grid-row: 2/3;
  }
  .intro__right-block {
    grid-row: 2/3;
  }
  .card {
    max-width: 345px;
  }
  .card:last-child {
    display: none;
  }
  .test-service__left-block {
    min-width: 410px;
    margin-right: 30px;
  }
  .why-wait {
    padding-bottom: 368px;
  }
  .why-wait__content {
    flex-direction: column-reverse;
    align-items: center;
  }
  .why-wait__right-block {
    margin: 0;
  }
  .footer__block {
    gap: 40px;
  }
  .footer__img {
    max-width: 100%;
    position: absolute;
    z-index: 99;
    top: -42.5%;
    left: 30%;
  }
  .block-bottom {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .block-bottom__block--maxwidth565 {
    grid-column: 1/2;
  }
}
@media (max-width: 959.98px) {
  [class*=__container] {
    max-width: 720px;
    margin: 0 auto;
    padding: 0 10px;
  }
  .header {
    min-height: 60px;
  }
  .header__content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 0;
  }
  .menu {
    display: none;
  }
  .block-lowres {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .block-lowres__burger {
    position: relative;
    height: 3px;
    width: 33.33px;
    background-color: #fff;
  }
  .block-lowres__burger::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 10px;
    height: 3px;
    width: 33.33px;
    background-color: #fff;
  }
  .block-lowres__burger::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: -10px;
    height: 3px;
    width: 33.33px;
    background-color: #fff;
  }
  .how-to-place__steps {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .payments__content {
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
  }
  .why-choose__reasons {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .activity__block {
    gap: 30px;
    flex-direction: column;
  }
}